<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Form</title>
    </head>
    <body>
        <form method="POST" action="/new">
            <div>
                <label for="text">Message: </label>
                <input type="text" name="text" id="text">
            </div>
            <div>
                <label for="user">User: </label>
                <input type="text" name="user" id="user">
            </div>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>