<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Message Board</title>
    </head>
    <body>
        <h1>Message Board</h1>
        <a href="/new">Form</a>
        <% messages.forEach((message) => { %>
            <div>
                <p><strong>Message:</strong> <%= message.text %></p>
                <p><strong>User:</strong> <%= message.user %></p>
                <p><strong>Added:</strong> <%= message.added %></p>
                <hr />
            </div>
        <% }) %>
    </body>
</html>